<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.pro.dao.TaskDao">
    <select id="findTask" parameterType="long" resultType="task">
        select
        <include refid="columns"/>
        from task
        where id = #{id}
    </select>
    <sql id="columns">
        id,title,context,note
    </sql>
</mapper>